# Misc
PYTHONBREAKPOINT="ipdb.set_trace"

# Django - General
DJANGO_ENV=development
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=

# Django AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

# Redis
DJANGO_CACHE_REDIS_URL=redis://localhost:6379/0

# MJML
MJML_HOST=localhost
MJML_PORT=28101

# Caddy
DOMAIN_NAME={{ cookiecutter.project_domain }}
SSL_EMAIL=

# Email
EMAIL_BACKEND=[django.core.mail.backends.smtp.EmailBackend|anymail.backends.amazon_ses.EmailBackend]
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=no-reply@{{ cookiecutter.project_domain }}
SERVER_EMAIL=system@{{ cookiecutter.project_domain }}


# Database
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432
POSTGRES_DB={{ cookiecutter.project_name }}
POSTGRES_USER={{ cookiecutter.project_name }}
POSTGRES_PASSWORD={{ cookiecutter.project_name }}

# Celery
CELERY_BROKER_URL="redis://localhost:6379/1"
CELERY_RESULT_BACKEND="redis://localhost:6379/1"
CELERY_FLOWER_USER=
CELERY_FLOWER_PASSWORD=
