[data-loading] {
  display: none;
}

[x-cloak] {
  display: none !important;
}

input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}
