{% raw %}
    {% load static %}
    {% load load_js %}
    <!DOCTYPE html>
    <html class="overflow-hidden no-js" lang="en">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            {% block seo %}
            {% endraw %}
            <title>{{ cookiecutter.project_verbose_name }}</title>
            {% raw %}
                <meta name="description" content="" />
            {% endblock seo %}
            <meta name="viewport"
                  content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
            <!-- Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,500;1,400&family=DM+Sans:wght@400;500;700&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&display=swap" />
            {% load_asset global htmx.ts %}
            {% load_asset global alpine.ts %}
            {% block extrahead %}
            {% endblock extrahead %}
            <meta name="htmx-config"
                  content='{"inlineScriptNonce":"{{ request.csp_nonce }}"}' />
        </head>
        <body class="overflow-y-scroll leading-normal tracking-normal bg-gray-50 flex flex-col"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-ext="loading-states,debug">
            {% block navbar %}
            {% endblock navbar %}
            <main>
                {% block main %}
                {% endblock main %}
            </main>
            {% block footer %}
                {% include "main/components/footer/footer.html" %}
            {% endblock footer %}
            <div x-data="ModalContainer">
                <div id="modal_container"></div>
            </div>
        </body>
    </html>
{% endraw %}
