exclude: /migrations/|/data/|/\.venv/
default_stages: [commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-ast
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3.14
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: detect-private-key

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.30.2
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: [--fix, '--preview', '--show-source']
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'uv run mypy app'
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "."]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: "\\.(js|ts|css|md|yaml|yml)$"
        exclude: "package-lock\\.json"
