# Django - General
PYTHONBREAKPOINT="pudb.set_trace"
DJANGO_ENV=development
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
DJANGO_STATIC_HOST=
DJANGO_ENABLE_PROFILING=false

# Django AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# MJML
MJML_HOST=mjml
MJML_PORT=28101

# Caddy
DOMAIN_NAME=
SSL_EMAIL=

# Email
EMAIL_BACKEND=[django.core.mail.backends.smtp.EmailBackend|anymail.backends.amazon_ses.EmailBackend]
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=1025|587
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL="{{cookiecutter.project_verbose_name}} <admin@{{cookiecutter.project_domain}}>"
SERVER_EMAIL="{{cookiecutter.project_verbose_name}} <system@{{cookiecutter.project_domain}}>"


# Database
DJANGO_DATABASE_HOST=postgres
DJANGO_DATABASE_PORT=5432
POSTGRES_DB={{cookiecutter.project_name}}
POSTGRES_USER={{cookiecutter.project_name}}
POSTGRES_PASSWORD={{cookiecutter.project_name}}
CONN_MAX_AGE=60
BACKUP_DIR_PATH="/db-backups"
BACKUP_FILE_PREFIX={{cookiecutter.project_name}}

# Celery
CELERY_BROKER_URL="redis://redis:6379/1"
CELERY_RESULT_BACKEND="redis://redis:6379/1"
CELERY_FLOWER_USER=
CELERY_FLOWER_PASSWORD=
CELERY_AUTOSCALE_WORKERS_MIN=1
CELERY_AUTOSCALE_WORKERS_MAX=3

# Gunicorn
GUNICORN_WORKERS=1
GUNICORN_APPLICATION=server.wsgi:application
GUNICORN_WORKER_CLASS="sync" # sync | gevent
GUNICORN_WORKER_CONNECTIONS=100
GUNICORN_MAX_REQUESTS=2000
GUNICORN_REQUESTS_JITTER=400

