site_name: "{{cookiecutter.project_verbose_name}}"
site_description: "Project documentation"
site_url: ""

theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - content.code.copy

nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - Settings: settings.md
  - Deployment: deployment.md
  - Observability: observability.md
