{% extends "layouts/account_stack/index.html" %}
{% block account_title %}Set new password{% endblock account_title %}
{% block account_body %}
    {% if token_fail %}
        <p class="auth-lead mt-3">This reset link is invalid or has already been used.</p>
    {% else %}
        <form method="post" class="auth-form">
            {% csrf_token %}
            {% include "components/form/fields.html" with form=form input_class="input" %}
            <button type="submit" class="btn btn-primary w-full justify-center">Update password</button>
        </form>
    {% endif %}
{% endblock account_body %}
{% block account_footer %}
    {% if token_fail %}
        <p class="auth-footer">
            <a href="{% url 'account_reset_password' %}" class="btn btn-link">Request a new reset link</a>
        </p>
    {% endif %}
{% endblock account_footer %}
