@tailwind base;
@tailwind components;
@tailwind utilities;

[data-loading] {
    display: none;
}

[x-cloak] { display: none !important; }

input[type='search']::-webkit-search-decoration:hover,
input[type='search']::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

input[type=checkbox] {
    @apply text-black rounded border border-gray-300 bg-white cursor-pointer focus:ring-black;
}

input, input[type=number], textarea {
    @apply p-3 pl-2.5 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-black focus:border-black block w-full;
}

button {
    @apply p-3 px-4 bg-black text-white rounded-md flex flex-row gap-3 items-center;
}

.markdown-content {
    @apply prose prose-blue prose-table:rounded-lg prose-th:px-6 prose-th:py-3 prose-td:px-6 prose-td:py-4 prose-thead:text-xs prose-thead:text-gray-700 prose-thead:uppercase prose-thead:bg-gray-50 odd:prose-tr:bg-white even:prose-tr:bg-gray-50 prose-tr:border-b;
}

.markdown-content > code {
    @apply p-1 bg-gray-200 rounded
}

.markdown-content > code::before {
    content: '';
}

.markdown-content > code::after {
    content: '';
}
